[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
main = "python main.py"
test_main = "python -m unittest discover"

[packages]
requests = "*"
urllib3 = ">=1.26.4"
Pygments = ">=2.7.4"

[dev-packages]
httpie = "*"

[requires]
python_version = "3.9"
