[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
# run script at main method
main = "python main.py"
run_cil_temp = "python cli_utils/py-cli-temp.py --help"

# unit test as unittest
test_main = "python -m unittest discover"
tests_module_target = "python -m unittest tests"
tests_some_file = "python -m unittest discover -s tests -p test_*.py" # -s [folder] -p [file]
tests_file_target = "python -m unittest tests/test_main.py" # only python3
tests_binary_tool = "python -m unittest discover -s tests/binary_tool -p test_*.py" # -s [folder] -p [file]


[packages]
requests = "*"
urllib3 = ">=1.26.5"
Pygments = ">=2.7.4"
psutil = "==5.9.1"

[dev-packages]
httpie = "*"
faker = ">=8"

[requires]
python_version = "3.9.5"
