# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: python-pipenv

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install dependecies
      uses: VaultVulp/action-pipenv@v2.0.1
      with:
        command: install --skip-lock --dev # Install all dependencies, including development ones
    - name: Run main
      uses: VaultVulp/action-pipenv@v2.0.1
      with:
        command: run main # Run custom `test` command defined in the `[scripts]` block of Pipfile

    - name: pipenv sync dev
      uses: VaultVulp/action-pipenv@v2.0.1
      with:
        command: sync --dev # Install all dependencies as sync
    - name: Run test_main
      uses: VaultVulp/action-pipenv@v2.0.1
      with:
        command: run test_main # Run custom `test` command defined in the `[scripts]` block of unittest
